/* Todos os itens da página */
*{
    margin: 0;
    padding: 0;
}

/* Fonte para os itens dentro do body */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #48c5ce;
    color: white;
    text-align: center;
    padding: 10px;
}

.title{
    font-size: 26px;
}

section{
    padding: 20px;
    background-image: url('./img/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.FormContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding:10px;
    border:none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* Gambiarra para ajeitar a setinha  */
    background-image: url('./img/arrow.jpg');
    background-repeat: no-repeat;

    background-position: calc(100% - 10px) center;

}